[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pydaqmx = "*"
wxpython = "*"
matplotlib = "*"
numpy = "*"
pyserial = "*"
configparser = "*"
simple-pid = "*"
pytest = "*"
minimalmodbus = "*"

[requires]
python_version = "3.8"
