# Code Composer Studio
Release/*
.xdchelp
config/*
.launches/

RemoteSystemsTempFiles/

__pycache__/
.idea/

# Eclipse/STM32/PyCharm
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
